// Colors

$prim: #3d4e4d;
$secn: #f2c71a;
$terz: #212720;

$primHighlight: #425453;

$light: #FFFFFF;
$muted: #a2a9a5;

$border: rgba(121,131,82, 0.3);
$border-light: #535b3c;
$border-side: rgba(255,255,255, 0.15);

$bg-light: #f3f4f0;

$font-lightgrey: #a4a8a7;

$social-light: #d0d4d2;