// Sections

.main-container {
	height: 100%;
	opacity: 0;
	position: relative;
}

// Intro
#section-intro {
	width: 100%;
	height: 100vh;
	background: url("../assets/background.jpg") no-repeat center center;
	background-size: cover;
}

.intro-container {
	height: 100%;
	position: absolute;
	left: 22.222222222%;
	display: flex;
	align-items: center;
}

.portfolio-open {
	height: 100%;
	overflow: hidden;

	.portfolio-list-wrapper {
		overflow-y: scroll;
		-webkit-overflow-scrolling: touch;
		height: 100%;
	}
}

#hero-container {
	width: 100%;
	height: 100%;
	overflow: hidden;

	canvas {
		width: 100%;
		height: 100%;
	}
}

// Portfolio


.line-module {
	padding: 0 0 120px 0;
	border-bottom: 1px solid $border;
}

.comp-logo {
	width: 84px;
	height: 42px;
	color: $light;
	top: 0;
	right: 0;
	position: absolute;
	vertical-align: middle;
}

#full-portfolio-section {
	width: 100%;
	height: 42vh;
	display: block;
	background: $prim;
	position: relative;
}

.full-portfolio-section-inner {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	.btn-view-full {
		position: relative;
		top: auto;
		left: auto;
		display: block;
		transform: none;
	}

	.view-icon {
		display: block;
		position: relative;
		top: auto;
		left: auto;
		margin: 16px auto 0 auto;
	}

}

.full-portfolio-container {
	width: 100%;
	height: 100px;
	background: $prim;
	display: block;
	position: fixed;
	left: 0;
	bottom: 0;
	z-index: 96;
	transform: translate3d(0, 100px, 0);
}

.full-portfolio-topbar {
	height: 100px;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 12;
}

.filterbar {
	width: 80%;
	height: 96px;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	margin: 0 auto;
}

.filterbar-list {
	padding: 28px 0;
	height: 40px;
	margin: 0 auto;
	text-align: center;
}

.filter-item {
	height: 100%;
	color: $secn;
	line-height: 40px;
	display: inline-block;
	margin: 0 48px;
	opacity: 0;
	cursor: pointer;
	transform: translate3d( 16px, 0, 0);
}

.full-portfolio-list {
	width: 88%;
	max-width: 1180px;
	margin: 0 auto;
	padding: 160px 0;
}

.portfolio-item {
	width: calc(25% - 2px);
	// min-width: 240px;
	padding-bottom: 37.5%;
	position: relative;
	display: inline-block;
	margin: 0 1px;
	opacity: 0;
	transform: translate3d(0, 20px, 0);
}

.portfolio-item-inner {
	position: absolute;
	width: 100%;
	height: 100%;
	padding: 32px;
	top: 0;
	left: 0;
	background: #f1f1f1;
	transition: opacity ease-in-out 0.3s;
	
	&:hover {
		background: $light;
	}
}

.portfolio-image {
	height: 64px;
	margin: 16px 0 24px 0;
}

.icn-link {
	position: absolute;
	bottom: 32px;
	right: 32px;
	cursor: pointer;

	.link-icon {
		margin: 0;
		position: relative;
		overflow: hidden;
	}

	&:hover {

		.link-icon-inner {

			&:before {
				animation: stroke-a-in 0.6s forwards normal;
			}

			&:after {
				animation: stroke-b-in 0.6s forwards normal;
			}

		}

		.link-icon-dash {

			animation: dash-in 0.6s forwards normal;

			&:after {
				animation: dash-inner-in 0.6s forwards normal;
			}
		}

		.social-link-label {
			margin: 0 0 0 8px;
			transition: all ease-in-out 0.6s;
		}

		.social-link-label {
			margin: 0 0 0 8px;
			transition: all ease-in-out 0.3s;
		}
	}

}

.inActive {
	opacity: 0.3;
	transition: opacity ease-in-out 0.3s;

	&:hover {
		background: #f1f1f1;
		.icn-link {
			border: 1px solid $secn;
		}
	}
}

// Thesis
.feature-item {
	display: flex;
	margin: 0 0 5.6em 0;
}

.feature-copy, .feature-icon-container {
	width: 50%;
}

.feature-icon {
	width: 40px;
	height: 40px;
}

.manifest {
	padding: 120px 0;
	position: relative;
	overflow: hidden;
	background: #2c3333;
}

.manifest-background {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: url("../assets/manifest.jpg") no-repeat;
	background-size: cover;
}

#dots-container {
	display: flex;
	flex-wrap: wrap;
	position: absolute;
	top: 0;
	left: 0;
}

.dot-item {
	width: 64px;
	height: 64px;
	display: inline-block;

	.dot {
		width: 7px;
		height: 7px;
		margin: -2px 0 0 -2px;
		padding: 1px;
		display: block;
		border: 1px solid rgba(255,255,255,0);
		transition: all ease-in-out 0.3s;

		&:after {
			content: "";
			display: block;
			width: 3px;
			height: 3px;
			background: rgba(255,255,255, 0.2);
		}
	}

}

.split-a {
	background: #2c3333;
	position: absolute;
	top: 0;
	opacity: 0;
	transform: translate3d(-4%, 0, 0);
}

.split-inner-a {
	width: 100%;
	height: 100%;
	background: url("../assets/manifest.jpg") no-repeat;
	background-size: length length;
	background-position: 4% 4%;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0.4;
}

.split-b {
	background: #2c3333;
	position: absolute;
	bottom: 0;
	right: 0;
	opacity: 0;
	transform: translate3d(4%, 0, 0);
}

.split-inner-b {
	width: 100%;
	height: 100%;
	background: url("../assets/manifest.jpg") no-repeat;
	background-size: length length;
	background-position: 4% 4%;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0.4;
}

// Pedigree
#section-pedigree {
	min-height: 100%;
	width: 100%;
}

.member-list {
	width: 100%;
	min-height: 100%;
	display: block;
	padding: 142px 0 120px 0;
}

li.member {
	width: 100%;
	height: 100vh;
	display: flex;
	overflow: hidden;
}

li:nth-child(even).member {
	flex-direction: row-reverse;
}

.member-portrait {
	width: 100%;
	height: 100%;
	display: block;
}

.member-info {
	padding: 0 16.666666667%;
}

// Overwrite
li:last-child.line-module {
	border: none;
}

// Connect
#section-contact {
	background: $prim;
	.section {
		padding-bottom: 80px;
	}
}

.contact {
	position: relative;
}

.about-list {
	display: flex;
	flex-wrap: wrap;
}

.about-item {
	margin: 0 0 96px 0;
}

.social-links {
	margin: 0 0 0 60%;
	width: 40%;
}

.link-icon-inner {
	position: relative;
	width: 24px;
	height: 24px;
	margin: 5px auto;
	display: block;
	bottom: 0;
	left: 0;
	transition: all ease-in-out 0.3s;

	&:before {
		content: "";
		width: 1px;
		height: 24px;
		display: block;
		background: $secn;
		position: absolute;
		bottom: 0;
		left: 12px;
		animation: stroke-a-out 0.6s forwards normal;

	}

	&:after {
		content: "";
		height: 1px;
		width: 24px;
		display: block;
		background: $secn;
		position: absolute;
		top: 12px;
		left: 0;
		animation: stroke-b-out 0.6s forwards normal;
	}

}

.link-icon-dash {

	width: 16px;
	height: 16px;
	display: block;
	position: absolute;
	left: 0;
	bottom: 0;
	transform: translate(-4px, 5px);
	overflow: hidden;
	opacity: 0;
	animation: dash-out 0.6s forwards normal;

	&:after {
		content: "";
		width: 100%;
		height: 1px;
		background: $secn;
		display: block;
		transform: rotate(-45deg) translate(100%, 100%);
		transform-origin: 100% 0%;
		position: absolute;
		animation: dash-inner-out 0.6s forwards normal;
	}
}

.social-link-label {
	transition: all ease-in-out 0.3s;
}

.social-link-item {
	font-weight: 700;
	font-size: 1.538em;
	color: $secn;
	padding: 32px 0;
	display: block;
	vertical-align: middle;
	border-bottom: 1px solid $border;

	&:hover {

		.link-icon-inner {

			&:before {
				animation: stroke-a-in 0.6s forwards normal;
			}

			&:after {
				animation: stroke-b-in 0.6s forwards normal;
			}

		}

		.link-icon-dash {

			animation: dash-in 0.6s forwards normal;

			&:after {
				animation: dash-inner-in 0.6s forwards normal;
			}
		}

		.social-link-label {
			margin: 0 0 0 8px;
			transition: all ease-in-out 0.6s;
		}
	}

}

@keyframes dash-in {
	0% { opacity: 0; transform: translate(-4px, 5px); }
	32% { opacity: 0; transform: translate(-4px, 5px); }
	64% { opacity: 1; transform: translate(-4px, 5px); }
	100% { opacity: 1; transform: translate(2px, -2px); }
}

@keyframes dash-inner-in {
	0% { transform: rotate(-45deg) translate(100%, 100%); }
	32% { transform: rotate(-45deg) translate(100%, 100%); }
	64% { transform: rotate(-45deg) translate(100%, 100%); }
	100% { transform: rotate(-45deg) translate(0%, 0%); }
}

@keyframes stroke-a-in {
	0% { height: 24px; bottom: 0; left: 12px; transform: translate( 0, 0);}
	32% { height: 12px; bottom: 0; left: 12px; transform: translate( 0, 0);}
	64% { height: 12px; bottom: 0; left: 12px; transform: translate( 0, 0);}
	100% {  height: 12px; bottom: -2px; left: 10px; transform: translate( 8px, -8px);}
}

@keyframes stroke-b-in {
	0% { width: 24px; top: 12px; left: 0px; transform: translate( 0, 0);}
	32% { width: 12px; top: 12px; left: 0px; transform: translate( 0, 0);}
	64% { width: 12px; top: 12px; left: 0px; transform: translate( 0, 0);}
	100% {  width: 12px; top: 14px; left: -2px; transform: translate( 8px, -8px);}
}

@keyframes dash-out {
	0% { opacity: 1; transform: translate(2px, -2px); }
	32% { opacity: 1; transform: translate(-4px, 5px); }
	64% { opacity: 0; transform: translate(-4px, 5px); }
	100% { opacity: 0; transform: translate(-4px, 5px); }
}

@keyframes dash-inner-out {
	0% { transform: rotate(-45deg) translate( 0%, 0%); }
	32% { transform: rotate(-45deg) translate(100%, 100%); }
	64% { transform: rotate(-45deg) translate(100%, 100%); }
	100% { transform: rotate(-45deg) translate( 100%, 100%); }
}

@keyframes stroke-a-out {
	0% { height: 12px; bottom: -2px; left: 10px; transform: translate( 8px, -8px);}
	32% { height: 12px; bottom: 0; left: 12px; transform: translate( 0, 0);}
	64% { height: 12px; bottom: 0; left: 12px; transform: translate( 0, 0);}
	100% { height: 24px; bottom: 0; left: 12px; transform: translate( 0, 0); }
}

@keyframes stroke-b-out {
	0% {width: 12px; top: 14px; left: -2px; transform: translate( 8px, -8px);}
	32% { width: 12px; top: 12px; left: 0px; transform: translate( 0, 0);}
	64% { width: 12px; top: 12px; left: 0px; transform: translate( 0, 0);}
	100% { width: 24px; top: 12px; left: 0px; transform: translate( 0, 0); }
}


.link-icon {
	font-size: 0.688em;
	width: 36px;
	height: 36px;
	line-height: 39px;
	border: 1px solid $secn;
	border-radius: 100%;
	display: inline-block;
	vertical-align: middle;
	text-align: center;
	margin: 0 32px 0 0;
}

li:first-child .social-link-item {
	border-top: 1px solid $border;
}

li:last-child .social-link-item {
	border-bottom: 1px solid $border;
}

// Combined Style
#section-family, #section-thesis, #section-pedigree {
	position: relative;
}


@media only screen and ( max-width: 1024px ){
	.member {
		.i-3 {
			display: none;
		}
		.i-6, .i-9 {
			width: 50%;
		}
	}
	.social-links {
		width: 100%;
		margin: 0;

		li {
			width: calc(50% - 24px);
			display: inline-block;
		}

		li:nth-child(odd){
			margin: 0 24px 0 0;
		}

		li:nth-child(2){
			border-top: 1px solid $border-light;
		}
	}
}

/* ----------- iPhone 6+ ----------- */

/* Portrait and Landscape */
@media only screen 
  and (max-width: 768px)  { 
	
  	li.member {
  		flex-wrap: wrap;
  		height: auto;

  		.i-6, .i-9 {
			width: 100%;
		}
  	}
	li:nth-child(even).member {
		flex-direction: row;
	}
	.member-portrait {
		height: auto;
		padding-bottom: 112.5%;
		margin: 16% 0 0 0;
	}
	.feature-item {
		flex-wrap: wrap;
	}

  	.feature-copy, .feature-icon-container {
		width: 100%;
	}

	.feature-icon-container {
		margin: 0 0 16% 0;
	}

	.manifest {
		padding: 16% 0;
		margin: 0;
	}

	.social-links {
		width: 100%;
		margin: 0;

		li {
			width: 100%;
		}

		li:nth-child(odd){
			margin: initial;
		}

		li:nth-child(2){
			border-top: none;
		}

	}

	.full-portfolio-list {
		width: 80%;
	}

	.portfolio-item  {
		width: 100%;
		padding-bottom: 150%;
	}


}

@media only screen
	and (-webkit-min-device-pixel-ratio: 2){
	.dot-item {
		width: 40px;
		height: 40px;
	}
	.line-module {
		padding:  0 0 16% 0;
	}
	.portfolio-item-inner {
		&:hover {
			background: #F1F1F1;
		}
	}
	.filterbar {
		width: 60%;
	}
	.member-list {
		padding: 32% 0 0 0;
	}

	.member-info {
		margin: 0 0 8% 0;
	}
}

/* Portrait */
@media only screen 
  and (max-device-width: 736px) 
  and (orientation: portrait) { 

}

/* Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 

}

@media only screen 
  and (max-width: 568px) {
	.intro-container {
		width: 66.875%;
		margin: 0 auto;
		position: relative;
		z-index: 24;
	}
}